/config.mk
/hactool
/hactool.exe
/*.o
/*.dll
/bin
/test
/test/*

/.vs
/out
/CMakeSettings.json

CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
build